@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lato, sans-serif;
  }
}

.fade-enter,
.fade-exit-active {
  opacity: 0;
}

.fade-exit,
.fade-enter-active {
  opacity: 1;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms ease-in;
}
